* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding-bottom: 120px; /* espaço pro menu fixo */
}

/* CARD PRINCIPAL */
.container {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 25px;
}

/* TÍTULO */
h2 {
  text-align: center;
  color: #1b5e20;
  margin-bottom: 20px;
}

/* CAMPOS */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #7cb342;
  border-radius: 6px;
  margin-bottom: 12px;
  outline: none;
}

textarea {
  resize: none;
  height: 90px;
}

/* LINHAS */
.row {
  display: flex;
  gap: 10px;
}

/* UPLOAD */
.upload-box {
  border: 2px dashed #2e7d32;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-content .icon {
  font-size: 30px;
  color: #2e7d32;
}

.upload-content p {
  font-size: 14px;
  color: #666;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 12px;
  background: #1b5e20;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #145a18;
}

/* MENU INFERIOR */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  border-top: 1px solid #ddd;
  z-index: 1000;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
