* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  text-align: center;
  width: 340px;
}

/* LOGO */
.logo {
  width: 120px;
  margin-bottom: 8px;
}

/* TÍTULOS */
h1 {
  color: #347142;
  font-size: 28px;
  margin-bottom: 4px;
}

h2 {
  color: #347142;
  font-size: 22px;
  margin-bottom: 20px;
}

/* FORMULÁRIO */
.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cadastro-form input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 8px;
  font-size: 14px;
  outline: none;
}

.cadastro-form input:focus {
  border-bottom: 1px solid #347142;
}

/* BOTÃO */
.btn {
  margin-top: 14px;
  background-color: #347142;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #2b5f37;
}

/* TEXTO FINAL */
.footer-text {
  margin-top: 22px;
  font-size: 13px;
  color: #347142;
  line-height: 1.4;
}


@media (max-width: 480px) {
  .cadastro-container {
    width: 90%;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .cadastro-form input {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
    padding: 14px;
  }

  .footer-text {
    font-size: 12px;
    margin-top: 18px;
  }
}
