* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-container {
  text-align: center;
}

/* LOGO */
.logo {
  width: 220px;
  margin-bottom: 6px;
}

/* TÍTULO */
h1 {
  color: #347142;
  font-size: 42px;
  margin-bottom: 6px;
}

/* TEXTO */
.slogan {
  color: #347142;
  font-size: 18px;
  line-height: 1.4;
  margin-top: -8px; /* aproxima do título */
}

@media (max-width: 480px) {
  .logo {
    width: 160px;
  }

  h1 {
    font-size: 32px;
  }

  .slogan {
    font-size: 16px;
    margin-top: -6px;
  }
}
