* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
}

/* ===== ANIMAÇÕES ===== */
@keyframes splashIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
  }
}

@keyframes splashOut {
  from {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -65%) scale(1.05);
  }
}

/* ===== CONTEÚDO ===== */
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;

  animation: splashIn 1.2s ease-out forwards;
}

/* quando for sair */
.center-container.exit {
  animation: splashOut 0.8s ease-in forwards;
}

/* LOGO */
.logo {
  width: 180px;
  display: block;
  margin: 0 auto;
}

/* TEXTO */
.slogan {
  margin: 0;
  margin-top: -24px; /* compensa espaço da imagem */
  color: #347142;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

/* MOBILE */
@media (max-width: 480px) {
  .logo {
    width: 130px;
  }

  .slogan {
    font-size: 16px;
    margin-top: -20px;
  }
}
