* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px; /* controla o quanto sobe */
  background: #ffffff;
}


/* LOGO */
.top-logo {
  margin-bottom: -70px;
  text-align: center;
}

.top-logo img {
  width: 160px;
  max-width: 100%;
}

/* CONTAINER CENTRAL */
.center-container {
  width: 100%;
  max-width: 360px;
  text-align: center;
}

/* TÍTULO */
.center-container h1 {
  color: #347142;
  font-size: 26px;
  margin-bottom: 15px;
}

/* FORM */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.login-form input:focus {
  border-bottom: 1px solid #347142;
}

/* SENHA */
.password-group {
  position: relative;
}

.password-group input {
  padding-right: 36px;
}

.password-group img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

/* BOTÕES */
button {
  margin-top: 18px;
  background: #347142;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

button:hover {
  background: #2b5f37;
}

button.secondary {
  margin-top: 10px;
}

/* ESQUECI SENHA */
.forgot-password {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 14px;
  color: rgba(46, 125, 50, 0.7);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: rgba(46, 125, 50, 1);
}

/* TEXTO FINAL */
.footer-text {
  margin-top: 26px;
  font-size: 13px;
  color: #347142;
  line-height: 1.4;
}

/* MOBILE */
@media (max-width: 480px) {
  .top-logo img {
    width: 120px;
  }

  .center-container h1 {
    font-size: 22px;
  }

  .login-form input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  .footer-text {
    font-size: 12px;
  }
}
