* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: #ffffff;
}

.top-logo {
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
}

.top-logo img {
  width: 160px;
}


.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  text-align: center;
}


.center-container h1 {
  color: #347142;
  font-size: 26px;
  margin-bottom: 28px;
}


.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.login-form input:focus {
  border-bottom: 1px solid #347142;
}


.password-group {
  position: relative;
}

.password-group input {
  padding: 12px 32px 12px 0;
}

.password-group img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

/* BOTÕES */
button {
  margin-top: 18px;
  background: #347142;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #2b5f37;
}

button.secondary {
  margin-top: 10px;
}

.forgot-password {
  margin-top: 12px;
  font-size: 13px;
  color: #347142;
  opacity: 0.7;                 /* deixa transparente */
  text-decoration: underline;  /* traço embaixo */
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* efeito ao passar o mouse */
.forgot-password:hover {
  opacity: 1;
}

/* TEXTO FINAL */
.footer-text {
  margin-top: 26px;
  font-size: 13px;
  color: #347142;
  line-height: 1.4;
}

@media (max-width: 480px) {
  .top-logo img {
    width: 120px;
  }

  .center-container {
    width: 90%;
  }

  .login-form input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  .footer-text {
    font-size: 12px;
  }
}
